<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
      <!--<app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>-->
      <!--<hr>-->
      <!--<app-account-->
       <!--*ngFor="let acc of accounts; let i = index"-->
       <!--[account]="acc"-->
       <!--[id]="i"-->
       <!--(statusChanged)="onStatusChanged($event)"-->
      <!--&gt;</app-account>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<app-header (featureSelected)="onNavigate($event)"></app-header>-->

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<!--<h1>I'm in the App Component</h1>-->

<!--secret : {{showSecret}}-->
<!--<button class="btn btn-primary"-->
        <!--(click)="onToggleDetails()">Display Details</button>-->
<!--<p *ngIf="showSecret">Secret Password</p>-->
<!--<div-->
  <!--*ngFor="let logItem of log;let i = index "-->
  <!--[ngStyle]="{backgroundColor: i>=4? 'blue':'transparent'}"-->
  <!--[ngClass]="{'white-text':logItem>=4}"-->
<!--&gt;{{logItem}}</div>-->

<!--<br>-->
<!--<app-servers></app-servers>-->














































<!--<app-header></app-header>-->
<!--<h1>I'm in the App Component</h1>-->

<!--<app-recipes></app-recipes> <app-recipe-detail></app-recipe-detail>-->

<!--<br>-->

<!--<app-shopping-list></app-shopping-list>-->
